[submodule "payloads/capture/pineapol"]
	path = payloads/user/capture/pineapol
	url = https://github.com/R4g3D/pineapple_pager_pineapol.git
	branch = suite-payload
[submodule "payloads/pager-apps/loki"]
	path = payloads/user/pager-apps/loki
	url = https://github.com/R4g3D/pineapple_pager_loki.git
	branch = suite-payload
[submodule "payloads/pager-apps/pagergotchi"]
	path = payloads/user/pager-apps/pagergotchi
	url = https://github.com/R4g3D/pineapple_pager_pagergotchi.git
	branch = suite-payload
[submodule "payloads/hak5-evil-portal"]
	path = payloads/user/hak5-evil-portal
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/evil-portal
	shallow = true
[submodule "payloads/hak5-exfiltration"]
	path = payloads/user/hak5-exfiltration
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/exfiltration
	shallow = true
[submodule "payloads/hak5-games"]
	path = payloads/user/hak5-games
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/games
	shallow = true
[submodule "payloads/hak5-general"]
	path = payloads/user/hak5-general
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/general
	shallow = true
[submodule "payloads/hak5-interception"]
	path = payloads/user/hak5-interception
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/interception
	shallow = true
[submodule "payloads/hak5-prank"]
	path = payloads/user/hak5-prank
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/prank
	shallow = true
[submodule "payloads/hak5-reconnaissance"]
	path = payloads/user/hak5-reconnaissance
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/reconnaissance
	shallow = true
[submodule "payloads/hak5-remote-access"]
	path = payloads/user/hak5-remote-access
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/remote-access
	shallow = true
[submodule "payloads/hak5-virtual-pager"]
	path = payloads/user/hak5-virtual-pager
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/virtual-pager
	shallow = true
[submodule "payloads/alerts"]
	path = payloads/alerts
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/alerts
	shallow = true
[submodule "payloads/recon"]
	path = payloads/recon
	url = https://github.com/R4g3D/pineapple_pager_hak5.git
	branch = suite-payload/recon
	shallow = true
